[submodule "bluehouse"]
	path = src/_submodules/stuff/bluehouse
	url = https://github.com/anthonyec/bluehouse.git
[submodule "snippets"]
	path = src/_submodules/snippets
	url = https://github.com/anthonyec/snippets.git
