/* Global */
html {
  font-size: 22px;
}

body {
  // background: #2C4172;
  // background: #D6E0EE;
}

h1, h2, h3, h4 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.488em;
  font-weight: 700;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
  line-height: 1.3;
}

h4 {
  font-size: 1.2em;
}

p, blockquote, ul {
  font-size: 1em;
  line-height: 1.5;
}

blockquote {
  background: #EEF3FA;
  padding: 0.2em 2em;
}

cite {
  display: block;
  font-style: italic;
  font-size: 0.694em;
  margin-top: 1em;
}

cite:before {
  content: '\2014';
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
}

li {
  padding-left: 1rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
}


@media(max-width: 520px) {
  body {
    font-size: 16px;
  }

  .article h2 {
    margin-top: 1.5em;
  }

  .article .overview {
    font-size: 1.44em;
  }
}

@media(min-width: 520px) and (max-width: 960px) {
  body {
    font-size: calc(16px + (22 - 16) * ((100vw - 520px) / (960 - 520)));
  }
}

/* Link */
.link:link, .link:visited {
  color: #1D7BFF;
  border-bottom: 2px solid #1D7BFF;
  text-decoration: none;
  padding-bottom: 1px;
}

.link:hover, .link:active {
  background: #d1ddff;
  background: #EEF3FA;
}


/* Contain */
.contain {
  max-width: 800px; /* 780 + 20 */
  padding: 0em 1em;
  margin: 0 auto;
}

.contain--12-12 {
  max-width: 960px; /* 940 + 20 */
}

/* Article */
.article {
  // color: #333333;
  font-family: 'Georgia', serif;
  padding-bottom: 3em
}

.article h1 {
  margin-top: 2.06em;
}

.article h2 {
  margin-top: 2.5em;
}

.article h3 {
  margin-top: 0.8em;
}

.article p, .article blockquote, .article ul {
  margin: 1.5em 0;
}

.article .overview {
  opacity: 0.55;
  font-weight: 400;
}

.article img, .article video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.article img + em, .article video + p em {
  opacity: 0.95;
  display: block;
  font-size: 0.694em;
  text-align: center;
  margin: 1em auto 0;
  max-width: 460px;
}

.article a:link, .article a:visited {
  color: #1D7BFF;
  border-bottom: 2px solid #1D7BFF;
  text-decoration: none;
  padding-bottom: 1px;
}

.article a:hover, .article a:active {
  background: #d1ddff;
  background: #EEF3FA;
}

/* Page */
.page {
  background: white;
  // background: #EEF3FA;
}

/* Lets Talk! */
.lets-talk {
  // background: #2C4172;
  color: white;
  border-top: 1px solid black;
  // background: #D6E0EE;
  color: black;
  text-align: center;
  padding: 2.6em 0;
}

.lets-talk__button {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  margin-top: 1em;
  font-size: 0.694em;
  text-decoration: none;
  background: #1D7BFF;
  color: white;
  font-weight: 500;
  display: inline-block;
  padding: 0.9em 1em;
}

.lets-talk__button:active {
  color: #2C4172;
  background: #eee;
  position: relative;
  top: 1px;
}

.lets-talk__button:visited {
  color: #2C4172;
}

/* Profile */
.profile {
  border-bottom: 1px solid black;
  padding-top: 5.6em;
  padding-bottom: 5.6em;
}

.profile__title {
  margin-bottom: 0.9em;
}

/* Section */
.section {
  // background: #D6E0EE;
  padding-top: 4.5em;
  padding-bottom: 3em;
}

.section__title {
  margin-bottom: 0.9em;
}

/* Teaser */
.teaser {
  background: white;
  border: 1px solid black;
  // background: #D6E0EE;
  padding: 2.5em 3.5em;
  margin-bottom: 1.5em;
}

.teaser__title {
  margin-bottom: 0.5em;
}

.teaser__overview {
  max-width: 460px;
}
