---
layout: default
title: Anthony Cossins — Front-end Developer
---

<div class="profile">
  <div class="l-contain">
    <img class="profile__logo" src="/assets/images/blink_animation.gif" alt="My head as a logo">

    <h2 class="profile__title">
      Anthony Cossins<br>
      Front-<a class="profile__link" href="https://en.wikipedia.org/wiki/Front-end_web_development">end</a> Developer<br>
      Working at <a class="profile__link" href="mailto:anthonycossins@gmail.com">Signal Noise</a><br>
      Here's my <a class="profile__link" href="/cv">CV</a><br>
      <a class="profile__link" href="mailto:anthonycossins@gmail.com">Email</a> me
    </h2>
  </div>
</div>

<div class="section">
  <div class="l-contain">
    <div class="section__title">
      Featured work
    </div>

    {% for post in site.work %}
    <div class="teaser" style="background-color: #{{ post.color }}; background-image: url({{ post.thumbnail }});">
      <h2 class="teaser__title">
        {{ post.snippet }}
      </h2>

      <div class="tags">
        <div class="tags__items">
          {% for tag in post.tags %}
            <span class="tags__item">
              {{ tag }}
            </span>
          {% endfor %}
        </div>
      </div>

      <!-- <span class="teaser__client">
        {{ post.client }}
      </span> -->
      <a href="{{ post.url }}" class="teaser__link"></a>
    </div>
    {% endfor %}
  </div>
</div>
