---
layout: default
title: Anthony Cossins — Front-end Developer
---

<div class="profile">
  <div class="l-contain profile__contain">
    <img class="profile__logo" src="/assets/images/blink_animation.gif" alt="My head as a logo">

    <h1 class="profile__title">
      Anthony Cossins<br>
      Front-<a class="profile__link" href="https://en.wikipedia.org/wiki/Front-end_web_development" target="_blank">end</a> Developer<br>
      Working at <a class="profile__link" href="http://signal-noise.co.uk/" target="_blank">Signal Noise</a><br>
      Here's my <a class="profile__link" href="/cv">CV</a><br>
      <a class="profile__link" href="mailto:anthonycossins@gmail.com">Email</a> me
    </h1>
  </div>
</div>

<div class="section">
  <div class="l-contain section__contain">
    <div class="section__title">
      Interaction highlights
    </div>

    <div class="showreel">
      <video class="showreel__video" autoplay loop>
        <source src="/assets/videos/showreel.mp4" type="video/mp4">
        <source src="/assets/videos/showreel.oggtheora.ogv" type="video/ogg">
        <source src="/assets/videos/showreel.webmhd.webm" type="video/webm">
      </video>
    </div>
  </div>
</div>

<div class="section">
  <div class="l-contain section__contain">
    <div class="section__title">
      Featured work
    </div>

    {% assign sortedWork = site.work | sort: "weight"  %}

    {% for post in sortedWork %}
      {% if post.hidden != true %}
        <div class="teaser section__first-item" style="background-color: #{{ post.color }}; background-image: url({{ post.thumbnail }});">
          <h2 class="teaser__title">
            {{ post.snippet }}
          </h2>

          <div class="tags">
            <div class="tags__items">
              {% for tag in post.tags %}
                <span class="tags__item">
                  {{ tag }}
                </span>
              {% endfor %}
            </div>
          </div>

          <!-- <span class="teaser__client">
            {{ post.client }}
          </span> -->
          <a href="{{ post.url }}" class="teaser__link"></a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
