<div class="lets-talk">
  <h2 class="lets-talk__title">
    Let's talk<span class="js-typey-container"> <span class="typey js-typey">
      <noscript>work</noscript></span></span><span class="typey-cursor"></span>
  </h2>

  <a href="mailto:anthonycossins@gmail.com" class="lets-talk__button">
    Email me
  </a>
</div>

<script src="/assets/js/typey.js"></script>
<script>
  (function() {
    var typey = new Typey({
      target: document.querySelectorAll('.js-typey')[0],
      sequence: [
        {% for subject in page.subjects %}
        '{{ subject }}',
        {% endfor %}
        'work',
        '',
      ],
      onStop() {
        document.querySelectorAll('.js-typey-container')[0].innerText = '!';
        document.querySelectorAll('.typey-cursor')[0].classList.add(
          'typey-cursor--hide'
        );
      },
    });

    var $letsTalk = document.querySelectorAll('.lets-talk')[0];

    function onScroll() {
      var scroll = document.body.scrollTop;

      if (scroll > $letsTalk.offsetTop - window.innerHeight) {
        window.removeEventListener('scroll', onScroll, false);

        setTimeout(function() {
          typey.start();
        }, 300);
      }
    };

    window.addEventListener('scroll', onScroll, false);
  })();
</script>
