<div class="navbar">
  <a class="navbar__home" href="/">
    <div class="bio">
      <div class="bio__icon">
        <img class="bio__icon-img" src="/assets/images/pp_head_logo.png" alt="My head as a logo">
      </div>
      <div class="bio__details">
        <div class="bio__name">
          Anthony Cossins
        </div>
        <div class="bio__job-title">
          Front-end Developer
        </div>
      </div>
    </div>
  </a>

  {% if page.cta_label %}
    <div class="navbar__actions">
      <a class="button" href="{{ page.cta_href }}">
        {{ page.cta_label }}
      </a>
    </div>
  {% endif %}
</div>
