.article {
  font-family: 'Georgia', serif;
  padding-bottom: 3em;
  margin: 0 auto;
  width: span(10);

  h1 {
    max-width: span(8);
    margin-top: 2.06em;
  }

  h2 {
    margin-top: 2em;
  }

  h3 {
    margin-top: 1em;
  }

  h4 {
    margin-top: 0.4em;
  }

  p, blockquote, ul, video, img {
    margin: 1em 0;
  }

  h2 + h3 {
    margin-top: 0.5em;
  }

  h3 + p, h4 + p {
    margin-top: 0.6em;
  }

  .overview {
    color: #78889F;
    font-weight: 400;
    margin-bottom: 2em;
  }

  img, video {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  img + em, video + p em {
    color: #78889F;
    display: block;
    font-size: 0.694em;
    text-align: center;
    margin: 1em auto 0;
    max-width: 460px;
  }

  a:link, a:visited {
    color: #1D7BFF;
    border-bottom: 2px solid #1D7BFF;
    text-decoration: none;
    padding-bottom: 1px;
  }

  a:hover, a:active {
    background: #d1ddff;
    background: #EEF3FA;
  }

  @media(max-width: 420px) {
    width: 100%;
    padding-bottom: 0.5em;

    h1 {
      max-width: 100%;
      margin-top: 0.8em;
    }

    h2 {
      margin-top: 1.5em;
    }

    h3 {
      margin-top: 1em;
    }

    p, blockquote, ul, video, img {
      margin: 1em 0;
    }

    h2 + h3 {
      margin-top: 0.5em;
    }

    h2 + p, h3 + p, h4 + p {
      margin-top: 0.5em;
    }

    .overview {
      margin-bottom: 1.5em;
    }
  }
}
