/* Article */
.article {
  // color: #333333;
  font-family: 'Georgia', serif;
  padding-bottom: 3em
}

.article h1 {
  margin-top: 2.06em;
}

.article h2 {
  margin-top: 2.5em;
}

.article h3 {
  margin-top: 0.8em;
}

.article p, .article blockquote, .article ul {
  margin: 1.5em 0;
}

.article .overview {
  opacity: 0.55;
  font-weight: 400;
}

.article img, .article video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.article img + em, .article video + p em {
  opacity: 0.95;
  display: block;
  font-size: 0.694em;
  text-align: center;
  margin: 1em auto 0;
  max-width: 460px;
}

.article a:link, .article a:visited {
  color: #1D7BFF;
  border-bottom: 2px solid #1D7BFF;
  text-decoration: none;
  padding-bottom: 1px;
}

.article a:hover, .article a:active {
  background: #d1ddff;
  background: #EEF3FA;
}
