.bio {
  font-size: 0.833em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.2;
  overflow: hidden;

  &__icon {
    background: #D6E0EE;
    border-radius: 100px;
    width: 2.3em;
    height: 2.3em;
    float: left;
    margin-right: gutter();
    overflow: hidden;
  }

  &__icon-img {
    width: 100%;
    height: 100%;
  }

  &__name {
    font-weight: 500;
  }

  &__job-title {
    color: #888888;
  }
}
