.bio {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.2;
  overflow: hidden;

  &__icon {
    background: #D6E0EE;
    border-radius: 100px;
    width: 1.9em;
    height: 1.9em;
    float: left;
    margin-right: 0.9em;
    overflow: hidden;
  }

  &__icon-img {
    width: 100%;
    height: 100%;
  }

  &__name {
    font-weight: 500;
    font-size: 0.833em;
    margin-top: 1px;
  }

  &__job-title {
    color: #78889F;
    font-size: 0.694em;
  }
}
