.button {
  background: #1D7BFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-size: 0.694em;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0.9em 1em;

  &:active {
    background: #1466DB;
  }
}
