// $baseline-add-5:   2.4888em;
// $baseline-add-4:   2.074em;
// $baseline-add-3:   1.728em;
// $baseline-add-2:   1.44em;
// $baseline-add-1:   1.2em;
// $baseline:         1em;
// $baseline-sub-1:   0.833em;
// $baseline-sub-2:   0.694em;
// $baseline-sub-3:   0.579em;

/* Global */
html {
  font-size: 22px;
}

body {
  color: #252525;
  border: 1px solid #252525;
  margin: 0.5em;
}

h1, h2, h3, h4 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  font-size: 2.488em;
  font-weight: 700;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
  line-height: 1.3;
}

h4 {
  font-size: 1.2em;
}

p, blockquote, ul {
  font-size: 1em;
  line-height: 1.5;
}

blockquote {
  background: #EEF3FA;
  padding: 0.2em 2em;
}

cite {
  display: block;
  font-style: italic;
  font-size: 0.694em;
  margin-top: 1em;
}

cite:before {
  content: '\2014';
}

ul {
  padding-left: 1em;
  list-style-type: disc;
}

li {
  padding-left: 0.5em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
}

@media(max-width: 520px) {
  body {
    font-size: 16px;
  }

  .article h2 {
    margin-top: 1.5em;
  }

  .article .overview {
    font-size: 1.44em;
  }
}

@media(min-width: 520px) and (max-width: 960px) {
  body {
    font-size: calc(16px + (22 - 16) * ((100vw - 520px) / (960 - 520)));
  }
}
