.lets-talk {
  color: black;
  color: var(--text-color);
  text-align: center;
  padding: 2.6em 0;
  padding: 5em 0;
}

.lets-talk__button {
  margin-top: 2em;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}
