/* Lets Talk! */
.lets-talk {
  color: white;
  border-top: 1px solid black;
  color: black;
  text-align: center;
  padding: 2.6em 0;
}

.lets-talk__button {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  margin-top: 1em;
  font-size: 0.694em;
  text-decoration: none;
  background: #1D7BFF;
  color: white;
  font-weight: 500;
  display: inline-block;
  padding: 0.9em 1em;
}

.lets-talk__button:active {
  color: #2C4172;
  background: #eee;
  position: relative;
  top: 1px;
}

.lets-talk__button:visited {
  color: #2C4172;
}
