/* Lets Talk! */
.lets-talk {
  color: white;
  border-top: 1px solid black;
  color: black;
  text-align: center;
  padding: 2.6em 0;
}

.lets-talk__button {
  margin-top: 1em;
}

.lets-talk__button:active {
  color: #2C4172;
  background: #eee;
  position: relative;
  top: 1px;
}

.lets-talk__button:visited {
  color: #2C4172;
}
