.navbar {
  border-bottom: 1px solid #252525;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
  display: flex;
  flex-shrink: 0;

  &__home {
    padding: 1em;
    padding-right: 1.5em;
    color: inherit;
    display: block;
    flex-shrink: 0;
    width: 280px;
  }

  &__actions {
    padding: 1em;
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

// .navbar__logo, .navbar__actions {
//   display: flex;
//   align-items: center;
//   position: absolute;
//   top: 0;
//   height: 100%;
//   padding: 0 1.5em;
// }

// .navbar__logo {
//   color: black;
//   text-align: center;
//   left: 0;
// }

// .navbar__logo:hover {
//   background: #EEF3FA;
// }

// .navbar__logo-img {
//   width: 1.638em;
//   height: 1.378em;
//   margin-top: -1px;
//   margin-left: -2px;
//   display: inline-block;
// }

// .navbar__logo-text {
//   margin-left: 0.7em;
// }

// .navbar__actions {
//   right: 0;
// }

// .navbar__button {
//   background: #1D7BFF;
//   color: white;
//   font-weight: 500;
//   display: inline-block;
//   padding: 0.9em 1em;
// }

// @media(max-width: 500px) {
//   .navbar__logo-text {
//     display: none;
//   }
// }
