.navbar {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &__home {
    border-radius: 6px;
    padding: 1em;
    color: inherit;
    display: block;
  }

  &__actions {
    padding-right: 1em;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    align-items: center;
  }
}
