.profile {
  padding-top: 6em;
  padding-bottom: 12em;

  &__bio, &__title {
    padding: 0 span(1) + gutter();
  }

  &__bio {
    margin-bottom: 4em;
  }

  &__title {
    font-weight: normal;
    line-height: 1.43;
  }

  &__link {
    border-bottom: 2px solid #1D7BFF;
    color: #1D7BFF;
    padding-bottom: 2px;
  }
}
