.profile {
  padding-top: 6em;
  padding-bottom: 12em;

  &__bio, &__title {
    padding: 0 span(1) + gutter();
  }

  &__bio {
    margin-bottom: 4em;
  }

  &__title {
    font-weight: normal;
  }

  &__link {
    color: black;
    border-bottom: 2px solid #D6E0EE;
    padding-bottom: 2px;
  }
}
