.section {
  position: relative;
  padding-bottom: 3.5em;

  &:before {
    content: '';
    border-top: 1px solid #252525;
    width: 100%;
    position: absolute;
    top: -1px;
    z-index: -1;
  }

  &__inner {
    overflow: hidden;
  }

  &__title {
    box-shadow: 0px 0.54em 0px white inset;
    display: inline-block;
    font-size: 0.833em;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    top: -0.65em;
    margin-bottom: 6em;
    margin-bottom: gutter() * 3;
    margin-left: span(1);
    padding: 0 gutter();
    z-index: 2;
  }

  @media(max-width: 975px) {
    padding-bottom: 0;

    &__title {
      margin-bottom: gutter();
    }

    &__inner {
      padding-bottom: 1.5em;
    }
  }

  @media(max-width: 420px) {
    padding-bottom: 0;

    &:before {
      top: 0.9em;
    }

    &__title {
      margin-bottom: 0;
      margin-left: 1.5em;
      top: 0.53em;
    }

    &__contain {
      padding: 0;
    }

    &__inner {
      padding-top: 1em;
      padding-bottom: 0;
    }
  }
}
