.section {
  position: relative;

  &:before {
    content: '';
    border-top: 1px solid #252525;
    width: 100%;
    position: absolute;
    top: -1px;
    z-index: -1;
  }

  &__title {
    background: white;
    display: inline-block;
    font-size: 0.694em;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    top: -0.87em;
    margin-bottom: 6em;
    margin-left: span(1);
    padding: 0 gutter();
  }
}
