.tags {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin-top: 1em;

  &__items {
    margin-top: -0.5em;
  }

  &__item {
    border: 1px solid black;
    display: inline-block;
    padding: 0.4em 0.5em;
    margin-right: 0.2em;
    margin-top: 0.5em;
  }

  @media(max-width: 420px) {
    font-size: 0.833em
  }
}
