.teaser {
  border: 1px solid #252525;
  padding: 3em (span(1) + gutter());
  position: relative;
  margin-bottom: 1.5em;

  &__title {
    max-width: span(10);
    padding-right: gutter();
    font-weight: normal;
    margin-bottom: 5em;
  }

  &__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media(max-width: 675px) {
    &__title {
      margin-bottom: 2em;
    }
  }

  @media(max-width: 420px) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 1.5em;
    margin-bottom: 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}
