/* Teaser */
.teaser {
  background: white;
  border: 1px solid black;
  padding: 2.5em 3.5em;
  margin-bottom: 1.5em;
}

.teaser__title {
  margin-bottom: 0.9em;
}

.teaser__overview {
  max-width: 460px;
  margin-bottom: 0.9em;
}

.teaser__thumbnail {
  margin-bottom: 0.5em;
}
