.button:link,
.button:visited,
.button:active {
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 9px;
  background: var(--card-background);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  position: relative;
  padding: 8px 12px;
  font-size: 16px;
}

.button::after {
  content: "";
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
}

.button:hover::after {
  background: rgba(255, 255, 255, 0.2);
}

.button:active::after {
  background: rgba(0, 0, 0, 0.05);
}

.button--full-width {
  width: 100%;
}

.button--green:link,
.button--green:visited,
.button--green:active {
  background: color-mix(in srgb, currentColor, transparent 95%);
  border: 1px solid color-mix(in srgb, currentColor, transparent 20%);
  color: #00960C;
}

.button svg,
.button img {
  height: 15px;
  flex-shrink: 0;
  opacity: 0.9;
}
