.card {
  background: var(--card-background);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 45%;
  max-width: 565px;
  padding: 15px;
  padding-bottom: 0;
  cursor: pointer;
  transition: background 250ms ease-out;
}

.card:hover {
  background: #FFEEAD;
  transition: none;
}

.card--green:hover {
  background: #BBFFAD;
}

.card:nth-child(3n + 1) {
  transform: rotate(1.5deg);
}

.card:nth-child(3n + 2) {
  transform: rotate(-1.5deg);
}

.card:nth-child(3n + 3) {
  transform: rotate(0.5deg);
}

.card--big {
  width: 100%;
  max-width: 400px;
}

.card--big:nth-child(3n + 1) {
  transform: rotate(1deg);
}

.card--big, .card--big:nth-child(3n + 2) {
  transform: rotate(-1deg);
}

.card__image {
  background: lightgray;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
}

.card__image:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
}

.card__image img,
.card__image video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card__image video {
  background-color: black;
  position: absolute;
  object-fit: cover;
  inset: 0;
  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
  user-select: none;
}

.card:hover video,
.card:focus-within video {
  opacity: 1;
}

.card:hover .card__image-timestamp,
.card:focus-within .card__image-timestamp {
  opacity: 0;
}

.card:hover .card__sound-button,
.card:focus-within .card__sound-button {
  opacity: 1;
}

.card__image-timestamp {
  position: absolute;
  backdrop-filter: blur(3px);
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 1px 4px 2px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  transition: opacity 200ms ease;
}

.card__sound-button {
  z-index: 5;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 0;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  transition: opacity 200ms ease;
  opacity: 0;
  cursor: pointer;
}

.card__sound-button:after {
  content: "";
  inset: -15px;
  position: absolute;
}

.card__sound-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.card__sound-button:active {
  transform: scale(0.95);
  filter: brightness(80%);
}

.card__title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 11px;
  margin-bottom: 13px;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 2;
  border-radius: inherit;
}

.card__link:focus {
  outline: none;
}

@media (max-width: 760px) {
  .card {
    width: 100%;
    max-width: 300px;
  }

  .card--big {
    max-width: 600px;
  }
}
