.home {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  gap: 60px;
  overflow: hidden;
}

.home .logo {
  width: 96px;
  height: 96px;
  margin-bottom: 12px;
}

.home__section {
  width: 100%;
  max-width: calc(672px + 20px);
  margin: 0 auto;
  padding: 0 20px;
}

.home__section--wide {
  max-width: calc(1200px + 20px);
}

.home__section--grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.home__section--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.home__section--temp-gap-hack {
  margin-top: -30px;
}

.home__footer {
  color: var(--text-color);
  text-align: center;
  display: flex;
  justify-content: center;
}

.home__footer a:link,
.home__footer a:visited,
.home__footer a:active {
  color: var(--link-color);
  text-decoration: underline;
}

.home__footer-circle {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 80px;
  text-align: center;
  text-transform: lowercase;
  font-size: 12px;
}

.home__footer-circle span {
  width: 180px;
}

.home__chip-group {
  display: flex;
  gap: 10px;
}

.home__card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
