.logo {
  background: var(--the-brand-color);
  border-radius: 100px;
  display: block;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  transition: filter 250ms ease-out;
  user-select: none;
  z-index: 3;
}

.logo:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35) inset;
}

.logo:hover {
  filter: brightness(130%);
  transition: none;
}

.logo:focus {
  outline: none;
}

.logo img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.logo__eyes {
  width: 25%;
  height: 10%;
  top: 40px;
  position: absolute;
  transform: translateX(-50%);
  top: 48%;
  left: 41%;
  animation: blink 10s infinite;
}

.logo__eyes:before {
  content: "";
  background: #F23B39;
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
}

.logo__eyes:after {
  content: "";
  background: #F23B39;
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  3% {
    opacity: 0;
  }

  4% {
    opacity: 1;
  }

  5% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  52% {
    opacity: 0;
  }

  53% {
    opacity: 1;
  }

  54% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.logo__bubble {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 20%;
  height: 20%;
  background: white;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  animation: pop-in 500ms 250ms ease both;
}

/* Info icon hit area. */
.logo__bubble:after {
  content: "";
  position: absolute;
  inset: -35%;
}

.logo__bubble img {
  opacity: 0.75;
}

@keyframes pop-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  30% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.logo:hover .logo__info {
  transition: all 600ms linear(0, 0.007 1%, 0.028 2.1%, 0.115 4.6%, 0.607 14%, 0.809 18.7%, 0.883 21%, 0.944 23.4%, 0.991 25.9%, 1.025 28.5%, 1.049 32.1%, 1.057 36.4%, 1.013 53.7%, 1 61.9%, 1);
  transform: scale(1);
}

.logo__info {
  color: black;
  background: white;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 18px;
  width: 460px;
  position: absolute;
  z-index: 3;
  display: flex;
  text-wrap: balance;
  flex-direction: column;
  gap: 10px;
  line-height: 1.3;
  top: 40%;
  left: 70%;
  margin-top: -20%;
  margin-left: 15%;

  transition: all 200ms ease;
  transform-origin: 0 0;

  transform: scale(0);
}

.logo__info p {
  margin: 0;
}
