.nav {
  padding: 35px;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 1002px) {
  .nav {
    display: flex;
    padding-bottom: 35px;
    justify-content: center;
  }

  .nav__background {
    background: linear-gradient(to bottom, var(--background-color) 10%, transparent);
    position: absolute;
    height: 150%;
    inset: 0;
    pointer-events: none;
  }
}

@media (max-width: 480px) {
  .nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 15px;
  }

  .nav .logo {
    width: 50px;
    height: 50px;
  }
}
