
.panel {
  display: flex;
  align-items: center;
  gap: 15px;
}

.panel__icon {
  background: var(--card-background);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  flex-shrink: 0;
}

.panel__icon img {
  width: 100%;
  opacity: 0.7;
}

.panel__content {
  background: var(--card-background);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 18px;
  max-width: 540px;
  gap: 10px;
  line-height: 1.3;
  font-size: 16px;
  transform: rotate(-0.5deg)
}

.panel__content p {
  margin: 0;
}

.panel__footer {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  padding-bottom: 3px;
}

.panel__footer a:link,
.panel__footer a:visited,
.panel__footer a:active {
  color: var(--link-color);
  background: color-mix(in srgb, currentColor, transparent 90%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  position: relative;
  padding: 8px 12px;
  border-radius: 9px;
  width: 100%;
}

.panel__footer a:hover {
  filter: brightness(130%);
}

.panel__footer .panel__available-link:link,
.panel__footer .panel__available-link:visited,
.panel__footer .panel__available-link:active {
  color: #00960C;
}

.panel__footer a svg {
  height: 16px;
  flex-shrink: 0;
}

@media (max-width: 620px) {
  .panel {
    flex-direction: column;
  }

  .panel__icon {
    display: none;
  }

  .panel__content {
    font-size: 14px;
    text-wrap: unset;
  }
}

@media (max-width: 555px) {
  .panel__footer {
    flex-direction: column;
  }
}
