
.panel {
  display: flex;
  align-items: center;
  gap: 15px;
}

.panel__icon {
  background: var(--card-background);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  flex-shrink: 0;
}

.panel__icon img {
  width: 100%;
  opacity: 0.7;
}

.panel__content {
  background: var(--card-background);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 18px;
  max-width: 460px;
  text-wrap: balance;
  gap: 10px;
  line-height: 1.3;
  font-size: 16px;
  transform: rotate(-0.5deg)
}

.panel__content p {
  margin: 0;
}

@media (max-width: 620px) {
  .panel {
    flex-direction: column;
  }

  .panel__icon {
    display: none;
  }

  .panel__content {
    font-size: 14px;
    text-wrap: unset;
  }
}
