.post {
  background: var(--card-background);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  color: var(--text-color);
  font-size: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 20px 50px;
  line-height: 1.54;  
}

.post .anchor:target {
  background: #F23B39 !important;
}

.post .anchor {
  border-radius: 100px;
  display: none;
  width: 10px;
  height: 10px;
  top: 50%;
  left: -25px;
  margin-top: -4px;
  position: absolute;
}

.post .anchor:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post .anchor:focus {
  outline: none;
}

.post h1,
.post h2,
.post h3,
.post h4 {
  position: relative;
}

.post h1:hover .anchor,
.post h2:hover .anchor,
.post h3:hover .anchor,
.post h4:hover .anchor {
  background: rgba(100, 100, 100, 0.3);
}

.post h1 {
  font-size: 1.5em;
  line-height: 1.3;
  text-wrap: balance;
  text-align: center;
}

.post h2 {
  font-size: 1.3em;
  margin-top: 1.5em;
}

.post h3 {
  margin-top: 1em;
}

.post h4 {
  margin-top: 0.4em;
}

.post p,
.post blockquote,
.post ul,
.post video,
.post img,
.post__block {
  margin: 1.5em 0;
}

.post h2 + .post h3 {
  margin-top: 0.5em;
}

.post h3 + .post p,
.post h4 + .post p {
  margin-top: 0.6em;
}

.post .overview {
  font-weight: 400;
  margin-bottom: 2em;
  line-height: 1.4;
}

.post img,
.post video {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post img:not(.post img[src$='.gif']),
.post video {
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}

.post img + .post em,
.post video + .post p em {
  color: #78889f;
  display: block;
  font-size: 0.694em;
  text-align: center;
  margin: 1em auto 0;
  max-width: 460px;
}

.post a:link,
.post a:visited {
  color: var(--link-color);
  background: var(--link-background);
  border-radius: 9px;
  text-decoration: underline;
  transition: background 300ms ease-out;
  position: relative;
}

.post a:hover,
.post a:active {
  color: var(--link-hover-color);
  transition: none;
}

.post code {
  background-color: var(--post-code-background-color);
  border-radius: 0;
  padding: 2px 7px;
  word-wrap: break-word;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.post iframe {
  width: 100%;
}

.post pre {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.post pre code {
  background: none;
  display: block;
  padding: 1.1em;
  overflow: scroll;
}

.post table {
  color: inherit;
  font-size: inherit;
  width: 100%;
  text-align: left;
}

.post blockquote {
  background: var(--post-code-background-color);
  border-left: 8px solid var(--post-code-background-color);
  padding: 0.01em 1.1em;
}

.post del {
  text-decoration-color: var(--text-color);
}

.post hr {
  border: 0;
}

/* Image paths ending with .gif are illustrations. */
.post img[src$='.gif'] {
  image-rendering: pixelated;
  mix-blend-mode: multiply;
}

.post a[href^="#footnote-"] {
  background: var(--post-footnote-background-color);
  border-radius: 100px;
  color: var(--post-footnote-color);
  padding: 0 10px;
  text-decoration: none;
}

.post .youtube-embed {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.post .youtube-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.post__video {
  position: relative;
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  overflow: hidden;
  margin: 1.5em 0;
}

.post__video video {
  border: none;
  border-radius: 0;
  margin: 0;
  transform: scale(1);
  transition: all 300ms ease;
}

.post__video button {
  opacity: 0;
}

.post__video--paused video {
  opacity: 0.5;
  filter: blur(1.5px);
  transform: scale(1.01);
}

.post__video--paused button {
  opacity: 1;
}

.post__video button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px 15px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  transition: all 300ms ease;
  transform: translate(-50%, -50%);
}

.post__video button:after {
  content: "";
  position: absolute;
  inset: -40px;
}

html[data-theme='dark'] .post img[src$='.gif'] {
  mix-blend-mode: screen;
  filter: invert(100%) hue-rotate(190deg) brightness(120%);
}

@media (max-width: 480px) {
  .post {
    font-size: 16px;
    width: 100%;
    padding-bottom: 30px;
  }

  .post .anchor {
    left: -20px;
    margin-top: -5px;
  }

  .post h1 {
    max-width: 100%;
    margin-top: 0.8em;
    text-align: center;
  }

  .post h2 {
    margin-top: 1.5em;
  }

  .post h3 {
    margin-top: 1em;
  }

  .post p,
  .post blockquote,
  .post ul,
  .post video,
  .post img {
    margin: 1em 0;
  }

  .post h2 + .post h3 {
    margin-top: 0.5em;
  }

  .post h2 + p,
  .post h2 + blockquote,
  .post h2 + ul,
  .post h2 + video,
  .post h2 + img,
  .post h3 + p,
  .post h3 + blockquote,
  .post h3 + ul,
  .post h3 + video,
  .post h3 + img,
  .post h4 + p,
  .post h4 + blockquote,
  .post h4 + ul,
  .post h4 + video,
  .post h4 + img {
    margin-top: 0.5em;
  }

  .post .overview {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 404px) {
  .post .anchor {
    border-radius: 0 100px 100px 0;
    width: 30px;
    left: -40px;
  }
}
