.post {
  color: var(--text-color);
  font-size: 24px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 3em;
  padding: 0 35px;
  line-height: 1.54;
}

.post h1 {
  font-size: 2em;
  margin-top: 1em;
  line-height: 1.3;
}

.post h2 {
  margin-top: 2em;
}

.post h3 {
  margin-top: 1em;
}

.post h4 {
  margin-top: 0.4em;
}

.post p,
.post blockquote,
.post ul,
.post video,
.post img,
.post__block {
  margin: 1.5em 0;
}

.post h2 + .post h3 {
  margin-top: 0.5em;
}

.post h3 + .post p,
.post h4 + .post p {
  margin-top: 0.6em;
}

.post .overview {
  font-weight: 400;
  margin-bottom: 2em;
  line-height: 1.4;
}

.post video {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.post img,
.post video {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post img + .post em,
.post video + .post p em {
  color: #78889f;
  display: block;
  font-size: 0.694em;
  text-align: center;
  margin: 1em auto 0;
  max-width: 460px;
}

.post a:link,
.post a:visited {
  color: var(--link-color);
  background: var(--link-background);
  text-decoration: underline;
  transition: background 300ms ease-out;
}

.post a:hover,
.post a:active {
  background: var(--link-hover-background);
  transition: none;
}

.post a:active {
  border-bottom: 1px solid var(--link-color);
  top: 1px;
}

.post code {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 2px 4px;
}

.post iframe {
  width: 100%;
}

.post pre {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.post pre code {
  background: none;
}

.post table {
  width: 100%;
  text-align: left;
}

.post blockquote {
  background: transparent;
  border-left: 8px solid var(--nav-link-background);
  padding: 0.1em 1em;
}

/* Image paths ending with .gif are illustrations. */
.post img[src$='.gif'] {
  image-rendering: pixelated;
}

html[data-theme='dark'] .post img[src$='.gif'] {
  /* background: gray; */
  /* border-radius: 30px; */
  /* padding: 50px 10px; */
  filter: invert(100%) hue-rotate(190deg) brightness(120%);
}

@media (max-width: 480px) {
  .post {
    font-size: 16px;
    width: 100%;
    padding-bottom: 0.5em;
  }

  .post h1 {
    max-width: 100%;
    margin-top: 0.8em;
  }

  .post h2 {
    margin-top: 1.5em;
  }

  .post h3 {
    margin-top: 1em;
  }

  .post p,
  .post blockquote,
  .post ul,
  .post video,
  .post img {
    margin: 1em 0;
  }

  .post h2 + .post h3 {
    margin-top: 0.5em;
  }

  .post h2 + p,
  .post h2 + blockquote,
  .post h2 + ul,
  .post h2 + video,
  .post h2 + img,
  .post h3 + p,
  .post h3 + blockquote,
  .post h3 + ul,
  .post h3 + video,
  .post h3 + img,
  .post h4 + p,
  .post h4 + blockquote,
  .post h4 + ul,
  .post h4 + video,
  .post h4 + img {
    margin-top: 0.5em;
  }

  .post .overview {
    margin-bottom: 1.5em;
  }
}
