.profile {
  color: var(--text-color);
  font-size: 26px;
  padding-top: 8.5em;
  padding-bottom: 7em;
}

.profile__contain {
  max-width: 700px;
  margin: 0 auto;
}

.profile__logo {
  border-radius: 100px;
  display: block;
  position: absolute;
  top: 2.5em;
  left: 2.5em;
  width: 3em;
  cursor: pointer;
}

.profile__logo:hover {
  filter: brightness(200%);
}

.profile__logo:active {
  transform: scale(0.9);
}

.profile__title {
  padding-left: span(1) + gutter();
  font-weight: 500;
  line-height: 1.16;
}

.profile__link {
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  /* padding-bottom: 0.05em; */
  text-decoration: underline;
}

.profile__link:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.profile__link--iplayer-pink:hover {
  color: #f34d97;
  border-color: #f34d97;
}

.profile__link--framer-blue:hover {
  color: #0099FF;
  border-color: #0099FF;
}

@media (max-width: 1060px) {
  .profile__contain {
    margin-left: 175px;
  }
}

@media (max-width: 920px) {
  .profile__contain {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .profile {
    font-size: 16px;
    padding-bottom: 5em;
  }

  .profile__contain {
    max-width: 360px;
    margin: 0 auto;
  }
}

@media (max-width: 445px) {
  .profile {
    font-size: 12px;
  }
  .profile__contain {
    max-width: 270px;
  }
}

@media (max-width: 330px) {
  .profile {
    font-size: 12px;
  }
  .profile__contain {
    margin-left: 30px;
  }
}
