*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
}
