:root {
  --the-brand-color: #F23B39;

  --background-color: #F4F0EC;

  --text-color: #111;

  --link-color: #111;
  --link-background: transparent;
  --link-hover-color: #F23B39;
  --link-hover-background: #d4f7ff;

  --card-background: white;

  --post-code-background-color: rgba(0, 0, 0, 0.1);
  --post-footnote-background-color: black;
  --post-footnote-color: white;
}

html[data-theme='dark'] {}

