:root {
  --background-color: white;

  --text-color: #111;

  --link-color: #111;
  --link-background: transparent;
  --link-hover-background: #d4f7ff;

  --nav-link-background: #d9d9d9;
  --nav-link-color: black;
  --nav-link-hover-color: black;
}

html[data-theme='dark'] {
  --background-color: black;

  --text-color: white;

  --link-color: #96e7ff;
  --link-background: transparent;
  --link-hover-background: rgba(212, 247, 255, 0.2);

  --nav-link-background: rgba(255, 255, 255, 0.6);
  --nav-link-color: black;
  --nav-link-hover-color: black;
}

html[data-theme='overcast'] {
  --background-color: #d1d8de;

  --text-color: black;

  --link-color: black;
  --link-background: transparent;
  --link-hover-background: #c2dfe3;

  --nav-link-background: rgba(255, 255, 255, 1);
  --nav-link-color: black;
  --nav-link-hover-color: black;
}


html[data-theme='ffeead'] {
  --background-color: #ffeead;

  --text-color: black;

  --link-color: black;
  --link-background: transparent;
  --link-hover-background: #c2dfe3;

  --nav-link-background: black;
  --nav-link-color: #ffeead;
  --nav-link-hover-color: black;
}

html[data-theme='depop'] {
  --background-color: #ff2300;

  --text-color: black;

  --link-color: black;
  --link-background: transparent;
  --link-hover-background: #c2dfe3;

  --nav-link-background: black;
  --nav-link-color: #ffeead;
  --nav-link-hover-color: black;
}
