:root {
  --background-color: white;

  --text-color: #111;

  --link-color: #111;
  --link-hover-background: #d4f7ff;

  --nav-link-background: #d9d9d9;
  --nav-link-color: black;
  --nav-link-hover-color: black;
}

.body[data-theme="dark"] {
  --background-color: black;

  --text-color: white;

  --link-color: #96e7ff;
  --link-background: #1D7BFF;

  --nav-link-background: rgba(255, 255, 255, 0.2);
  --nav-link-color: black;
  --nav-link-hover-color: black;
}


/* :root {
  --background-color: #EFF4DC;
  --text-color: #059543;
  --link-color: #1D7BFF;
  --link-color: #00AEFF;
  --link-hover-background: #d4f7ff;
  --nav-link-background: white;
  --nav-link-color: #059543;
  --nav-link-hover-color: black;
} */


/*
.article img[src*=".gif"] {
  filter: brightness(0%);
} */

/* .article img[src*=".gif"] {
  filter: invert(100%) hue-rotate(180deg);
} */


/* @media(prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
    --link-color: #96e7ff;
    --link-background: #1D7BFF;
    --nav-link-background: rgba(255, 255, 255, 0.7);
    --nav-link-color: black;
    --nav-link-hover-color: black;
  }
} */
