.typey {
  position: relative;
}

.typey--selecting:before {
  content: attr(data-text);
  background: #5E8BC6;
  left: 0;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  -webkit-animation: 'typey-select' 0.2s steps(4) both;
}

.typey-cursor {
  border-right: 1px solid black;
  height: 100%;
  -webkit-animation: 'typey-blink' 0.5s steps(2) infinite;
}

.typey-cursor--hide {
  display: none;
}

@-webkit-keyframes 'typey-select' {
  0% {
    width: 0%;
  }

  90% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes 'typey-blink' {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
