---
layout: default
---
<link rel="stylesheet" href="/assets/css/article.css">

{% include navbar.html %}

<style>
  html {
    background-color: #{{ page.color }};
  }

  body {
    background: white;
  }
</style>

<div class="l-contain">
  <div class="article">
    <div class="contain">
      <h1>
        {{ page.title }}
      </h1>
      <div class="tags">
        <div class="tags__items">
          {% for tag in page.tags %}
            <span class="tags__item">
              {{ tag }}
            </span>
          {% endfor %}
        </div>
      </div>
      <h2 class="overview">
        {{ page.overview }}
      </h2>
      {{ content }}
    </div>
  </div>
</div>

{% include lets-talk.html %}
