<!doctype html>
<html lang="en-gb">
  <head>
    <title>{{ page.title | escape | strip_html }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | strip_html | strip_newlines | truncate: 160 }}">

    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="page">
    <div class="article">
      <div class="rich-text l-contain">
        <h1>
          {{ page.title }}
        </h1>
        <p class="overview">
          {{ page.overview }}
        </p>
        {{ content }}
      </div>
    </div>
    <div class="l-contain">
      <div class="contact-footer">
        <h1 class="contact-footer__title">Let's talk chatbots!</h1>

        <a href="mailto:anthonycossins@gmail.com" class="button contact-footer__button">
          Email me
        </a>
      </div>
    </div>
  </body>
</html>
