<!doctype html>
<html lang="en">
  <head>
    <title>Anthony Cossins</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anthony Cossins has a website on the internet and this is it.">
    <meta name="keywords" content="just, a, great, guy">

    <style>
      *, *:before, *:after {
        box-sizing: border-box;
      }

      html {
        font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
        line-height: 1.5;
      }

      body {
        margin: 0;
      }

      nav {
        padding: 15px;
      }

      main {
        max-width: 960px;
        padding: 0 15px;
        margin: 0 auto;
      }

      footer {
        text-align: center;
      }

      .grid {
        display: flex;
        flex-wrap: wrap;
        /* position: relative; */
      }

      article {
        /* border: 3px solid black; */
        /* border-radius: 12px; */
        width: 50%;
        /* margin-right: 10px; */
        /* margin-bottom: 10px; */
      }

      article img {
        display: none;
      }

      .logo {
        border-radius: 100px;
        width: 60px;
      }
    </style>
  </head>
  <body>
    <nav>
      <img src="https://anthonycossins.com/assets/images/blink_animation.gif" alt="Logo" class="logo">
    </nav>

    <main>
      <section>
        <h1>
          Anthony Cossins, <br>
          Front-end Developer, <br>
          Working at <a href="https://bbc.co.uk/iplayer">BBC iPlayer</a>, <br>
          Here's my <a href="/cv">CV</a>, <br>
          <a href="mailto:anthonycossins@gmail.com">Email</a> me
        </h1>

        <img width="300" src="me_2020.png" alt="Drawing of me shouting">

        <!-- <details>
          <dialog open>
            <img width="300" src="me_2020.png" alt="Drawing of me shouting">
          </dialog>
        </details> -->
      </section>

      <section>
        <h2>
          Recent projects
        </h2>

        <div class="grid">
          <article>
            <a href="">
              <img src="https://secure.meetupstatic.com/photos/event/9/3/4/c/600_480757708.jpeg" alt="">
            </a>

            <h3>
              <a href="">
                London Creative Coding Meetup
              </a>
            </h3>

            <p>
              Helping co-organise a meetup focused around creative coding
            </p>
          </article>

          <article>
            <a href="">
              <img src="https://chrome.google.com/webstore/detail/powerlets/ofecodkcadbenmiknnidnfepbblapgkn" alt="">
            </a>

            <h3>
              <a href="">
                Hand Icons
              </a>
            </h3>

            <p>
              Photo collection of hand icons on signage or whatever around the world
            </p>
          </article>

          <article>
            <a href="">
              <img src="https://chrome.google.com/webstore/detail/powerlets/ofecodkcadbenmiknnidnfepbblapgkn" alt="">
            </a>

            <h3>
              <a href="">
                Powerlet
              </a>
            </h3>

            <p>
              Chrome Extenstion to create, share and run little scripts
            </p>
          </article>

          <article>
            <a href="">
              <img src="https://secure.meetupstatic.com/photos/event/9/3/4/c/600_480757708.jpeg" alt="">
            </a>

            <h3>
              <a href="">
                Blue House
              </a>
            </h3>

            <p>
              A small video game about a journey to and through the blue house. It's old work but I still like to scare people with it
            </p>
          </article>

          <article>
            <a href="">
              <img src="https://secure.meetupstatic.com/photos/event/9/3/4/c/600_480757708.jpeg" alt="">
            </a>

            <h3>
              <a href="">
                Snippets
              </a>
            </h3>

            <p>
              Small little tests in HTML, CSS and JS
            </p>
          </article>
        </div>
      </section>

      <section>
        <h2>
          Posts
        </h2>

        <ul>
          <li>
            <a href="/posts/slightly-improving-car-dashboards">
              Improving the in-car dashboard and console (slightly)
            </a>
            <time>2018</time>
          </li>
          <li>
            <a href="/posts/slightly-improving-car-dashboards">
              Improving the in-car dashboard and console (slightly)
            </a>
            <time>2018</time>
          </li>
          <li>
            <a href="/posts/slightly-improving-car-dashboards">
              Improving the in-car dashboard and console (slightly)
            </a>
            <time>2018</time>
          </li>
          <li>
            <a href="/posts/slightly-improving-car-dashboards">
              Improving the in-car dashboard and console (slightly)
            </a>
            <time>2018</time>
          </li>
          <li>
            <a href="/posts/slightly-improving-car-dashboards">
              Improving the in-car dashboard and console (slightly)
            </a>
            <time>2018</time>
          </li>
          <li>
            <a href="/posts/slightly-improving-car-dashboards">
              Improving the in-car dashboard and console (slightly)
            </a>
            <time>2018</time>
          </li>
          <li>
            <a href="/posts/slack-chatbot">
              Creating a slack chatbot to server my company server
            </a>
            <time>2017</time>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <a href="https://github.com/anthonyec">GitHub</a>
      <a href="https://dribbble.com/anthonyec">Dribbble</a>
      <a href="/feed.xml">RSS</a>
    </footer>
  </body>
</html>
