<!doctype html>
<html lang="en">
  <head>
    <title>Anthony Cossins</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anthony Cossins has a website on the internet and this is it.">
    <meta name="keywords" content="just, a, great, guy">

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="post.css">
    <link rel="stylesheet" href="header.css">
  </head>
  <body>
    <header class="header">
      <a href="">
        <img class="header__logo" src="https://anthonycossins.com/assets/images/blink_animation.gif" class="logo" alt="">
      </a>
      <nav class="header__nav">
        <a class="header__nav-link" href="">Posts</a>
        <a class="header__nav-link" href="">About</a>
      </nav>
    </header>
    <article class="article">
      <div class="contain">
        <h1>Tello: Quick Entry for Trello</h1>

        <p>If you haven’t used it before, <a href="http://www.trello.com">Trello</a> is a web-based tool to organize the things from life to project collaboration. We use it at work to track sprint backlogs, I use it at home as a project planner and todo list. It’s pretty sweet, except for one thing…</p>

<p>Say you’ve got a brilliant idea for where to go on your next vacation. You’ve been choosing between destinations and planning your itinerary with your friend on a shared Trello board. Normally, you’d have to go to <code class="language-plaintext highlighter-rouge">trello.com</code>, open your vacation board, find the right list, click to add an item, and then type it out.</p>

<p>I started working on <strong>Tello App</strong> so that all you’d need to do is hit a keyboard shortcut, type <a href="http://en.wikipedia.org/wiki/Mykonos">“Mykonos, Greece”</a>, and get back to your life. Small victories my friend.</p>

<p>
  <img src="http://pketh.org/images/2014/tello-draft@2x.jpg" alt="">
</p>

<p>The design’s still pretty early (I’d love your <a href="https://twitter.com/pketh">feedback</a>), but I’ve already started scaffolding out the app. Native development is new to me though and Tello has a little bit of everything – communicating with a server API, parsing JSON, token security, saving data to coredata, and drawing some views.</p>

<p>I’m enjoying Swift, but not so much Cocoa yet. So far, this stack of seemingly simple things is being made complex by edge cases and inexperience. But I guess that’s how it always is.</p>

<p><img class="no-shadow" src="/images/2014/tello-icon-draft.png" width="20" height="15" /></p>

      </div>
    </article>
  </body>
</html>
