<!doctype html>
<html lang="en">
  <head>
    <title>Anthony Cossins</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anthony Cossins has a website on the internet and this is it.">
    <meta name="keywords" content="just, a, great, guy">

    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/vars.css">
    <link rel="stylesheet" href="/assets/css/body.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/iframe.css">
  </head>
  <body>
    <header class="header">
      <a href="/">
        <img class="header__logo" src="https://anthonycossins.com/assets/images/blink_animation.gif" class="logo" alt="A head as a logo">
      </a>
      <nav class="header__nav">
        <a class="header__nav-link" href="">Posts</a>
        <a class="header__nav-link" href="">About</a>
      </nav>
      <a class="header__nav-link header__nav-link--fixed" href="">☾</a>
      <!-- ☀ -->
    </header>
    <article class="article">
      <div class="contain">
        {% if page.overview %}
          <h2 class="overview">
            {{ page.overview }}
          </h2>
        {% endif %}

        {{ content }}
      </div>
    </article>
  </body>
</html>
