<!doctype html>
<html lang="en">
  <head>
    <title>Anthony Cossins</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anthony Cossins has a website on the internet and this is it.">
    <meta name="keywords" content="just, a, great, guy">

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="post.css">
  </head>
  <body>
    <article class="article">
      <div class="contain">
        <h1>Some Watercolors</h1>

        <p>I took a break from coding <a href="/2014/07/11/tello-design.html">Tello</a> last week to noodle around with watercolors. Here’s one of the things I did. It’s far from good, or finished, but that’s okay.</p>

        <p>
          <img src="http://pketh.org/images/2014/imperfect-watercolor@2x.jpg" alt="">
        </p>

        <p>Despite the amateur results, dipping my toes in the world of real paints and brushes is always totally worth it.</p>

      </div>
    </article>
  </body>
</html>
