<!doctype html>
<html lang="en-gb">
  <head>
    <title>{{ page.title | escape | strip_html }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | strip_html | strip_newlines | truncate: 160 }}">

    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/css/snippet.css">
  </head>

  <body>
    <div class="snippet-menubar">
      <!-- <a href="/" class="snippet-menubar__title">
        <img class="snippet-menubar__logo" src="/assets/images/pp_head_logo.png" alt="My head as a logo">
      </a> -->

      <div class="snippet-menubar__description">
        {{ page.description | markdownify }}
      </div>

      {% if page.controls %}
        <div class="snippet-menubar__buttons">
          <button class="snippet-button">
            <img src="/assets/images/controls_icon.svg" alt="Controls">
          </button>
        </div>
      {% endif %}
    </div>

    {% if page.controls %}
      <div class="snippet-controls">
        <div class="snippet-controls__menubar"></div>
        <div class="snippet-controls__group">
          {% for control in page.controls %}
            <div class="snippet-control">
              <label class="snippet-control__label">
                {{ control.label }}:
              </label>
              <div class="snippet-control__input-container" data-control-id="{{ control.id }}"></div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="snippet-content">
      {{ content }}
    </div>

    {% if page.controls %}
      <script>
        const CONTROLS = {{ page.controls | jsonify }};

        CONTROLS.forEach((control) => {
          const $control = document.querySelector(`[data-control-id=${control.id}]`);

          const input = document.createElement('input');
          input.type = control.type;

          if (control.attrs) {
            Object.keys(control.attrs).forEach((attr) => {
              const value = control.attrs[attr];
              input.setAttribute(attr, value);
            });
          }

          input.addEventListener('change', (evt) => {
            const changeEvent = new CustomEvent(`${control.id}_control_change`, {
              detail: {
                value: evt.target.value,
              },
            });
            document.dispatchEvent(changeEvent);
          });

          input.addEventListener('mousedown', (evt) => {

          });

          input.addEventListener('mousemove', (evt) => {
            const changeEvent = new CustomEvent(`${control.id}_control_change`, {
              detail: {
                value: evt.target.value,
              },
            });
            document.dispatchEvent(changeEvent);
          });

          $control.appendChild(input);
        });
      </script>
    {% endif %}
  </body>
</html>
