/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #616161;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid white;
}

.content {
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -392px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-height: 785px) {
  .content {
    height: 100%;
    top: 0px;
    margin-top: 0px;
  }
}

.cover {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

#cover2 {
  background-image: url("../images/cover2.jpg");
}

#cover3 {
  background-image: url("../images/cover3.jpg");
}

.container {
  width: 50%;
  height: 785px;
  float: left;
  padding: 60px;
  position: relative;
  overflow: auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 830px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-height: 785px) {
  .container {
    height: 100%;
  }
}
.container.right {
  background-image: url("../images/cover.jpg");
  background-size: cover;
}
@media screen and (max-width: 830px) {
  .container.right {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
.container ul {
  margin-bottom: 80px;
}
.container li {
  margin-bottom: 18px;
}
.container li:hover .message {
  display: inline-block;
}

.containers {
  background: black;
  width: 1200px;
  height: 785px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .containers {
    width: 100%;
  }
}
@media screen and (max-width: 830px) {
  .containers {
    background: none;
  }
}
@media screen and (max-height: 785px) {
  .containers {
    height: 100%;
  }
}

#page-credits, #page-controls {
  display: none;
}

.message {
  color: grey;
  display: none;
}
.message:before {
  content: " - ";
}

.key {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

.key-info {
  position: absolute;
  right: 60px;
}

.back {
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  display: block;
  position: absolute;
  left: 18px;
  margin-top: -1px;
  width: 28px;
  height: 17px;
  opacity: 0;
  -webkit-animation: slide-in 200ms 200ms ease-out forwards;
  -moz-animation: slide-in 200ms 200ms ease-out forwards;
  -ms-animation: slide-in 200ms 200ms ease-out forwards;
  -khtml-animation: slide-in 200ms 200ms ease-out forwards;
  animation: slide-in 200ms 200ms ease-out forwards;
}
.back:hover {
  border: none;
}

.footer {
  color: blue;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-height: 785px) {
  .footer {
    display: none;
  }
}
.footer span {
  display: block;
  margin-top: 10px;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -khtml-transition: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -khtml-transition: translateX(0px);
    transform: translateX(0px);
    opacity: 100;
  }
}

@-moz-keyframes slide-in {
  0% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -khtml-transition: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -khtml-transition: translateX(0px);
    transform: translateX(0px);
    opacity: 100;
  }
}

@-ms-keyframes slide-in {
  0% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -khtml-transition: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -khtml-transition: translateX(0px);
    transform: translateX(0px);
    opacity: 100;
  }
}

@-khtml-keyframes slide-in {
  0% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -khtml-transition: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -khtml-transition: translateX(0px);
    transform: translateX(0px);
    opacity: 100;
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -khtml-transition: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -khtml-transition: translateX(0px);
    transform: translateX(0px);
    opacity: 100;
  }
}
