.profile {
  color: var(--text-color);
  font-size: clamp(30px, 5vw, 70px);
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  position: fixed;
}

@media(min-width: 1920px) {
  .profile {
    font-size: clamp(20px, 4vw, 90px);
  }
}

@media(max-width: 550px) {
  .profile {
    font-size: clamp(20px, 8vw, 90px);
  }
}

.profile__contain {
  margin: 0 auto;
}

.profile__title {
  font-weight: 500;
  line-height: 1.16;
  margin-left: -1vw;
  margin-top: -0.5vw;
}

.profile__link {
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  text-decoration: underline;
}

.profile__link:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.profile__link--iplayer-pink:hover {
  color: #f34d97;
  border-color: #f34d97;
}

.profile__link--framer-blue:hover {
  color: #0099FF;
  border-color: #0099FF;
}
