* { border-box: content-box; -webkit-border-box: content-box; -moz-border-box: content-box; } body { padding: 0px; margin: 0px;}

/* GLOBAL CSS */

body {
	height: 100%;
}

.panel {
	background: black;
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	
	-webkit-animation: bounce-down 0.5s ease-in-out;	
	-moz-animation: bounce-down 0.5s ease-in-out;
	-ms-animation: bounce-down 0.5s ease-in-out;
	-o-animation: bounce-down 0.5s ease-in-out;
	animation: bounce-down 0.5s ease-in-out;
}

/* MEDIA QUEIRES */

@media all and (max-width: 768px) {
	
}

/* ANIMATIONS */

/* Boucne Down Animation */
@-webkit-keyframes bounce-down {
	0%	{ -webkit-transform: translateY(-1000px); }
	40%	{ -webkit-transform: translateY(-0px); }
	60%	{ -webkit-transform: translateY(-80px); }
	70%	{ -webkit-transform: translateY(0px); }
	75%	{ -webkit-transform: translateY(-40px); }
	100%	{ -webkit-transform: translateY(0px); }
}

@-moz-keyframes bounce-down {
	0%	{ -webkit-transform: translateY(-1000px); }
	40%	{ -webkit-transform: translateY(-0px); }
	60%	{ -webkit-transform: translateY(-80px); }
	70%	{ -webkit-transform: translateY(0px); }
	75%	{ -webkit-transform: translateY(-40px); }
	100%	{ -webkit-transform: translateY(0px); }
}

@-ms-keyframes bounce-down {
	0%	{ -webkit-transform: translateY(-1000px); }
	40%	{ -webkit-transform: translateY(-0px); }
	60%	{ -webkit-transform: translateY(-80px); }
	70%	{ -webkit-transform: translateY(0px); }
	75%	{ -webkit-transform: translateY(-40px); }
	100%	{ -webkit-transform: translateY(0px); }
}

@-o-keyframes bounce-down {
	0%	{ -webkit-transform: translateY(-1000px); }
	40%	{ -webkit-transform: translateY(-0px); }
	60%	{ -webkit-transform: translateY(-80px); }
	70%	{ -webkit-transform: translateY(0px); }
	75%	{ -webkit-transform: translateY(-40px); }
	100%	{ -webkit-transform: translateY(0px); }
}

keyframes bounce-down {
	0%	{ -webkit-transform: translateY(-1000px); }
	40%	{ -webkit-transform: translateY(-0px); }
	60%	{ -webkit-transform: translateY(-80px); }
	70%	{ -webkit-transform: translateY(0px); }
	75%	{ -webkit-transform: translateY(-40px); }
	100%	{ -webkit-transform: translateY(0px); }
}

/* Drag Up Animation */
@-webkit-keyframes drag-up {
	0%	{ -webkit-transform: translateY(0px); }
	60%	{ -webkit-transform: translateY(100px); }
	100%	{ -webkit-transform: translateY(-1000px); opacity: none;}
}

@-moz-keyframes drag-up {
	0%	{ -webkit-transform: translateY(0px); }
	60%	{ -webkit-transform: translateY(100px); }
	100%	{ -webkit-transform: translateY(-1000px); opacity: none;}
}

@-ms-keyframes drag-up {
	0%	{ -webkit-transform: translateY(0px); }
	60%	{ -webkit-transform: translateY(100px); }
	100%	{ -webkit-transform: translateY(-1000px); opacity: none;}
}

@-o-keyframes drag-up {
	0%	{ -webkit-transform: translateY(0px); }
	60%	{ -webkit-transform: translateY(100px); }
	100%	{ -webkit-transform: translateY(-1000px); opacity: none;}
}

keyframes drag-up {
	0%	{ -webkit-transform: translateY(0px); }
	60%	{ -webkit-transform: translateY(100px); }
	100%	{ -webkit-transform: translateY(-1000px); opacity: none;}
}


